{% load static %}
<!DOCTYPE html>

<head>
    <style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/blood.jpg" %}');
          background-size: cover;
          {% comment %} background-repeat: no-repeat; {% endcomment %}
        }
      </style>
      
</head>


<body>
  {% include "blood/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
    <div class="container text-center">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     
      
      <br><br><br><br>
      
    </div>  
  </section>


  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

    <p class="lead text-center">“Be a hero; save lives. Donate blood and make a difference today. A single drop of blood can bring hope to someone's life. Together, we can build a healthier world!"
      </p>
    
    <p class="text-center">Shubham</p>
    
  </div>
  {% include "blood/footer.html" %}


</body>

</html>
